* {
  margin: 0px;
}

#ourtutor {
  display: flex;
  justify-content: space-between;
  padding: 0% 4%;
  margin: 50px 0px;
}

#ourtutor-left {
  text-align: center;
  width: 45%;
}
#ourtutor-left img {
  width: 100%;
  border: 4px solid thistle;
}

#ourtutor-right {
  text-align: center;
  width: 50%;
}

#tutor-btn {
  margin-top: 40px;
  padding: 15px 15px;
  border: 2px solid rgb(240, 121, 34);
  background-color: white;
}

#tutor-btn:hover {
  cursor: pointer;
  background-color:rgb(240, 121, 34);
  color: white;
}

#ourStaticts {
  
  background-color: rgb(0, 69, 102);
  padding: 0% 4%;
  padding: 50px;
  margin: 50px 0px;
}

#ourStaticts-heading{
  text-align: center;
  color: antiquewhite;

}
#ourStaticts-info{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2%;
}
#ourStaticts-info div{
  text-align: center;
}

.info-image{
  width: 80px;
  border-radius: 50%;
}
.info-about{
  color: white;
  padding: 5px;
  margin: 5px 0px;
}
.info-number{
  color: #dbe642;
  font-size: 60px;
  padding: 5px;
  margin: 5px 0px;
}


#get-touch{
  background-color: rgb(238,238,238);
  padding: 0% 4%;
  padding: 50px;
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2%;
}


#testimonial{
  
  
  padding: 0% 4%;
 
  margin: 50px 0px;
}

#testimonial-content{
  background-color: rgb(238,238,238);
  padding: 0% 4%;
  padding: 50px;
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5%;
}

#our-parner{
  padding: 0% 4%;
  padding: 50px;
  margin: 50px 0px;
  text-align: center;
}
#our-parner img{
  width: 90%;
}
.username{
  color:red;
}
/* --------------------------------------- */
.text-secondary {
  color: white;
/* background-color: rgb(89,136,158); */
}



.h6 m-0 pr-3 {
  color: white;
 
}

.fa,
.fas {
  font-family: 'FontAwesome';
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.h-100 {
  height: 100%;
}

a.text-secondary:focus,
a.text-secondary:hover {
  text-decoration: none;
  color: white;
}

#accordion .fa-plus {
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

#accordion a[aria-expanded=true] .fa-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}






/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  #ourtutor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 4%;
    margin: 50px 0px;
  }
  #ourtutor-left {
    text-align: center;
    width: 100%;
  }
  #ourtutor-left img {
    width: 100%;
    border: 4px solid thistle;
  }
  
  #ourtutor-right {
    margin:50px 0px ;
    text-align: center;
    width: 100%;
  }
  #ourStaticts-info{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2%;
  }
  #get-touch{
    background-color: rgb(238,238,238);
    padding: 0% 4%;
    padding: 50px;
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2%;
  }
  #get-touch div{
    padding-top: 50px;
  }

  #testimonial-content{
    background-color: rgb(238,238,238);
    padding: 0% 4%;
    padding: 50px;
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5%;
  }
  
  
}






/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
  #ourtutor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 4%;
    margin: 50px 0px;
  }
  #ourtutor-left {
    text-align: center;
    width: 100%;
  }
  #ourtutor-left img {
    width: 100%;
    border: 4px solid thistle;
  }
  
  #ourtutor-right {
    margin:50px 0px ;
    text-align: center;
    width: 100%;
  }
  #ourStaticts-info{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2%;
  }
  #get-touch{
    background-color: rgb(238,238,238);
    margin-top: 10px;
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2%;
  }
  #get-touch div{
    padding-top: 50px;
  }
  #testimonial-content{
    background-color: rgb(238,238,238);
    padding: 0% 4%;
    padding: 50px;
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5%;
  }
  
}
