*{
 margin: 0;
 padding: 0; 
 font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;  
}

#title{
    background-color: #F07922;
    height: 100px;
    display: flex;
    align-items: center;
}
#title>div{
    margin: auto;
    /* border: 2px solid red; */
    width: 50%;
    text-align: center;
}
#title>div >h1{
    font-size: 46px;
    color: white;
}
#top > div{
  /* border: 2px solid red; */
  width: 50%;
}
#top{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 50vh;
    /* border: 2px solid teal; */
   margin-top: 40px;
}
#top img{
    width: 100%;
}
.ttt{
 width: 80%;
 /* border: 2px solid black; */
 font-size: 21px;
 color: rgb(98, 98, 98);
 text-align: center;
}
.para{
 width: 70%;
 /* border: 2px solid red; */
 font-size: 20px;
 text-align: center;
}
#textClass{
    display: flex;
    /* padding: 50px; */
    align-items: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 50px;
    margin-top: 80px;
}

.fDetails{
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    background-color: rgb(231, 231, 231);
    height: 42px;
    font-size: 17px;
    border: none;
}

span{
    color: red;
}
.p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(86, 86, 86);
}
#getBtn:hover{
    cursor: pointer;
    background-color: #ff7f23;
}
#getBtn{
    padding: 13px 28px;
    background-color: #F07922;
    color: #fff;
    font-size: 19px;
    border: none;
    margin-bottom: 40px;
    border-radius: 5px;
}
@media only screen and (max-width: 800px) {
    #top{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
height: 100vh;
      
       margin-top: 20px;
    }
    #title>div{
        margin: auto;
        width: 50%;
        text-align: center;
    }
    #title>div >h1{
        font-size: 26px
    }
    #top > div{
      width: 100%;
    }

    #form{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 50px;
        margin-top: -120px;
    }
    
    .fDetails{
        display: flex;
        flex-direction: column;
    }
    
    .input{
        width: 100%;
        background-color: rgb(231, 231, 231);
        height: 35px;
        font-size: 17px;
        border: none;
    }
    
    span{
        color: red;
    }
    .p{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
        color: rgb(86, 86, 86);
    }

    .ttt{
        /* border: 2px solid red; */
        font-size: 16px;
        text-align: center;
        width: 90%;
       }
    .para{
        width: 80%;
        /* border: 2px solid red; */
        font-size: 17px;
        text-align: center;
       }
  }