#nav{
    width: 80%;
    margin: auto;
    /* color: white; */
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* opacity: 20%; */
    background: url('./media/IMG_0596LR-CROPPED.jpg');
    color: white;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
body{
    font-family: 'Chewy';
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
   /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
   font-family: 'Chewy';
   font-size: 22px;
   color: white;
}

#divcont{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navelemetns{
    display: flex;
}
#navelemetns>div{
    margin-right: 20px;
    font-size: 17px;
}
#navelemetns>div:hover{
    color: #f07922;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #f07922;
    font-style: bold;
}

#contdiv>img{
    margin-right: 5px;
    
}
/* #contdiv>div:nth-child(1)>i{
   
} */

@media screen and (min-width:1240px) and (max-width:1080px) {
    #contdiv{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:0px) and (max-width:995px) {
    #navelemetns{
       flex-direction: column;
    }
}

/* nav bar code ends */

/* top cont code starts */
#topcont>div>img{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:50px) and (max-width:338px) {
    #nav{
        position: relative;
        width: 100%;
    }
}

.btn{
    color: #fff;
    border-color: #fff;
    
}
.btn:hover{
    background-color: #f07922;
    border-color: #f07922;
}

#subdivs{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    width: 60%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -100px;
    

}

#subdivs>div{
    padding: 15px;
    height: auto;
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    /* max-width: fit-content; */
}

#subdivs>div:hover{
    margin-top: -50px;
}

#subdivs>div>div{
    padding: 10px;
}
#subdivs>div>div>img:nth-child(1){
    color: #fff;
}

#subdivs>div>div:nth-child(2){
    font-weight: 900;
}

#subdivs>div:nth-child(1){
    background-color: #f07922;
    color: #fff;
    height: 300px;
    padding: 10px;
    
}
#subdivs>div:nth-child(2){
    background-color: #457992;
    color: #fff;
    height: 250px;
    padding: 10px;
}
#subdivs>div:nth-child(3){
    background-color: #f0a822;
    color: #fff;
    height: 300px;
    padding: 10px;
}
#subdivs>div:nth-child(4){
    background-color: #004566;
    color: #fff;
    height: 250px;
    padding: 10px;
}



.imgs{
    width: 60px;
    height: 60px;
    color: #fff;
}

@media screen and (min-width:1000px) and (max-width:1242px) {
    #subdivs{
        width: 80%;
    }
    #subdivs>div:hover{
        margin-top: -50px;
    }
}

@media screen and (min-width:950px) and (max-width:1000px) {
    #subdivs{
        width: 90%;
    }
    #subdivs>div:hover{
        margin-top: -50px;
    }
}

@media screen and (min-width:760px) and (max-width:950px) {
    #subdivs{
        width: 100%;
    }
    #subdivs>div:hover{
        margin-top: -50px;
    }
}

@media screen and (min-width:50px) and (max-width:760px) {
    #subdivs{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: static;
        margin-top: 50px;
    }
    #subdivs>div{
        position: static;
        /* max-width: fit-content; */
    }
    #subdivs>div:hover{
        margin-top: -50px;
    }
}


/* top cont code ends */


/* Footer code starts */
#footer>div{
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    color: white;
}
#footer>div>div{
    display: flex;
}


#footer>div{
    background-color: #004566;
    width: 100%;
    
}
/* Footer code ends */
